
# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
